@import "../../../styles/scss-variables";
@import "../../../styles/mixins";

.base-modal {
  &__overlay {
    background-color: rgba(#000, 0.3);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  &__body {
    background-color: var(--background-color);
    border-radius: $border-radius;
    height: calc(100% - #{$s-spacing});
    left: 50%;
    max-width: 375px;
    overflow-y: auto;
    padding: $s-spacing;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      border-radius: $border-radius;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $border-radius;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
  }

  &__content {
    // 100% of container - header height and margin
    height: calc(100% - #{2 * $m-spacing});
  }

  &__header {
    align-items: center;
    display: flex;
    height: $m-spacing;
    justify-content: space-between;
    margin-bottom: $m-spacing;
  }

  &__heading {
    font-size: $s-spacing;
    font-weight: 700;
  }

  &__close {
    @include reset-default-button;

    &-icon {
      height: $xs-spacing;
      width: $xs-spacing;
    }
  }
}
