:root {
  --background-color: #f5f6fb;
  --background-color--light: #fff;
  --background-color--dark: #e4e6f0;

  --primary-color: #6198f3;
  --primary-color--light: #88b2f6;
  --primary-color--dark: #3d81f0;

  --cta-color: #62cd95;
  --cta-color--light: #7fd7a9;
  --cta-color--dark: #41c380;

  --text-color: #181c22;

  --accent-color: #86898d;
  --accent-color--light: #9b9da1;
  --accent-color--dark: #727479;

  --error-color: #f15c6e;
  --error-color--light: hsl(353, 83%, 74%);
  --error-color--dark: #ed354b;
}
