@import "../../../styles/scss-variables";

.base-input {
  position: relative;

  &__inner {
    border: 2px solid transparent;
    border-radius: $border-radius;
    outline: none;
    padding: $xs-spacing;
    resize: none;
    transition: border-color $time;
    width: 100%;

    &:focus {
      border-color: var(--primary-color);
    }

    &--error {
      border-color: var(--error-color);
    }
  }

  &__error {
    bottom: 0;
    color: var(--error-color);
    font-size: $xs-spacing;
    font-weight: 600;
    position: absolute;
  }
}
