@import "../../styles/scss-variables";

.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &__heading {
    color: var(--primary-color);
    font-size: $l-spacing * 1.5;
    font-weight: 700;
    margin-bottom: $s-spacing;
  }

  &__text {
    font-size: $m-spacing;
    margin-bottom: $m-spacing;
    text-align: center;
  }
}
